/* Importação de fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

/* Variáveis de Cor - Tema Escuro */
:root {
    --bg-main: #111827;      /* Fundo principal (cinza-azulado escuro) */
    --bg-sidebar: #1F2937;   /* Fundo da sidebar */
    --bg-card: #374151;      /* Fundo dos cards */
    --text-primary: #F9FAFB;   /* Texto principal (quase branco) */
    --text-secondary: #9CA3AF; /* Texto secundário (cinza) */
    --accent-primary: #3B82F6; /* Azul primário */
    --accent-hover: #2563EB;   /* Azul para hover */
    --danger: #EF4444;       /* Vermelho para deletar */
    --border-color: #4B5563; /* Cor da borda */
}

/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-primary);
    overflow: hidden;
}

.app-container {
    display: flex;
    height: 100vh;
}

.hidden {
    display: none !important;
}

.main-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-logout {
    background-color: var(--danger);
    margin-top: 10px;
    color: white;
    padding: 5px 5px;
    border-radius: 6px;
    border: none;
    height: fit-content;
}